:root {
    --bg: #004643;
    --headline: #fffffe;
    --paragraph: #c0dcd4;
    --button: #f9bc60;
    --button-text: #001e1d;
    --stroke: #001e1d;
    --main: #e8e4e6;
    --secondary: #abd1c6;
    --highlight: #f9bc60;
    --tertiary: #e16162;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root, .container-fluid {
    height: 100%;
}

body {
    background-color: #004643;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.container {
    max-width: 500px;
}

.btn {
    background-color: var(--button);
    color: var(--button-text);
}

.btn:hover {
    background-color: var(--button);
    color: var(--button-text);
}

h1, h2, h3, h4, h5, h6, .heading {
    color: var(--headline);
}

.heading {
    font-size: 1.25rem;
}

.form-control {
    background-color: var(--main);
}

.text {
    color: var(--paragraph);
}

.input-group-checkboxes {
    margin-bottom: 1rem;
}
