.form-control {
    background-color: var(--main);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid var(--secondary);
}

.input-group:last-child {
    border-bottom: none;
}

.input-subgroup {
    margin-bottom: 1rem;
}

.checkbox-group label {
    margin-left: 0.5rem;
}

.grid-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    height: min-content;
}

.input-color-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.color-hex-and-trash-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.75rem;
}

.icon {
    font-size: 1.25rem;
    cursor: pointer;
}

.popup.colors .row {
    
}

.popup-window {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 100%;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -70%);
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
}

.popup.active .popup-window {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.popup.active .bg-overlay {
    opacity: 0.5;
    pointer-events: all;
}

.popup-window, .bg-overlay {
    transition: 200ms;
}

.browse-palettes-color {
    height: 30px;
    border-radius: 0.25rem;
}